doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/dist/index.css')
    meta(name="keywords", content="JoExp,joexp,前端开发小分队,好好学习天天向上,JoJoChilly,JOOOOO JO,前端博客,React,Express,博客,前端")
    meta(name="description", content="前端开发小分队，一个你来了就不想走，想提PR一起建设的博客。")
  body
    block content
    script(src='./../dist/index.bundle.js')
